:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%) ;
}
@import url(reset.sass);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: var(--Light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-size: 0.9rem;
}
h1 {
    color: var(--Dark-blue);
}
h2{
    color: var(--Grayish-blue);
}
h1 p{
    font-size: 0.9375rem;
    margin: 1rem 1rem 0 1rem;
}
.p{
    margin-bottom: 1.5rem;
}
img{
    display: block;
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
}
main{
    background-color: var(--White);
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 20%;
    min-width: 20rem;

    padding: 1.5rem;
    text-align: center;
}
main:hover{
    background: hsl(0deg, 0%, 100%);
    box-shadow: 0 0.9rem 1.75rem rgba(30, 50, 82, 0.267), 0 0.6rem 0.6rem rgba(30, 50, 82, 0.247);
    color: hsl(222deg, 45%, 23%);
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}
body{
    overflow: visible;
}

/* utility */

.fw-400{
    font-weight: 400;
}
.fw-700{ 
    font-weight: 700;
}
